node_modules
.cache
build/
dist/
app/build/*
app/dist/*
/.mf
.env
.env.production
.env.staging
.env.*
.vscode
.sanity
.checksums
.eslintcache
.DS_Store
admin/schema.ts
app/src/types/schema.ts
admin/exported/*.tar.gz
*.csv

